{% extends "base.html.twig" %}
{% block body %}
    <div class="ui segment center">
        <button class="ui button green" id="new">
            New
            <i class="right icon plus"></i>
        </button>
    </div>
    <div class="ui segment center">
        <div class="ui items divided">
            {% for cocktail in cocktails %}
                <div class="item" data-cocktail="{{ cocktail.id }}">
                    <div class="content">
                        <a class="header">{{ cocktail.name }}</a>
                        <div class="meta">
                            {% for ingredient in cocktail.ingredients %}
                                <div class="ui label">
                                    {{ ingredient.name }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra">
                            <div class="ui primary button make">
                                Make
                                <i class="right chevron icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui container">
        <div class="ui segment center">
            <div class="ui form">
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="pin21" data-pin="21" class="pump-control">
                            <label>Pump 1</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="pin20" data-pin="20" class="pump-control">
                            <label>Pump 2</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="pin26" data-pin="26" class="pump-control">
                            <label>Pump 3</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="pin19" data-pin="19" class="pump-control">
                            <label>Pump 4</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script>
     $(document).ready(() => {
         $('.pump-control').on('click', (event) => {
             let on = $(event.target).prop('checked');
             let pin = $(event.target).data('pin');
             $.ajax({
                 url: '/pump/send',
                 method: "POST",
                 data: {on: on, pin: pin}
             });
         });

         $('.primary.button.make').on('click', (event) => {
             const cocktail = $(event.target).parents('.item').data('cocktail');
             $.ajax({
                 url: '/cocktail/make',
                 method: "POST",
                 data: {id: cocktail}
             });
         })
     })
 </script>
{% endblock %}

